<html>
<head>
  <title>Basic HTML Page</title>
</head>
<body>
  <h1>Basic HTML Page</h1>
  <div id="menu">
    <ul class="open">
      <li>Home</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
  </div>
  <div id="main">
    <div class="post">
      <div class="title">Latest Post</div>
      <div class="created">2014-02-15</div>
      <div class="author">Jason Pearson</div>
      <div class="content">No idea what's going on.</div>
    </div>
    <div class="post">
      <div class="title">Another Post</div>
      <div class="created">2013-06-07</div>
      <div class="author">Jason Pearson</div>
      <div class="content">No idea what's going on.</div>
    </div>
    <div class="post">
      <div class="title">First Post</div>
      <div class="created">2012-12-21</div>
      <div class="author">Jason Pearson</div>
      <div class="content">No idea what's going on.</div>
    </div>
  </div>

</body>
</html>